<h3>User Index</h3>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Joined since</th>
    <th>Profile picture</th>
  </tr>
  <% users.forEach(function(user){ %>
  <tr>
    <td><%= user.firstName %></td>
    <td><%= user.lastName %></td>
    <td><%= user.email %></td>
    <td><%= user.phoneNumber %></td>
    <td><%= user.joined %></td>
    <td><%= user.profilePicture %></td>
  </tr>
  <% }) %>
</table>
