<h2>My Profile</h2>

<hr />

<form class="profile-form" method="GET" action="/user/edit-profile">
  <div>
    <div class="profile-image">
      <img src="<%= picPath %>" style="width: 100%" />
    </div>
  </div>
  <div>
    <label class="profile-label">First Name</label>
    <input
      class="profile-input"
      type="text"
      name="firstName"
      value="<%= user.firstName %>"
    />
  </div>
  <div>
    <label class="profile-label">Last Name</label>
    <input
      class="profile-input"
      type="text"
      name="lastName"
      value="<%= user.lastName%>"
    />
  </div>
  <div>
    <label class="profile-label">Email</label>
    <input
      class="profile-input"
      type="text"
      name="email"
      value="<%= user.email%>"
    />
  </div>
  <div>
    <label class="profile-label">Phone Number</label>
    <input
      class="profile-input"
      type="number"
      name="phoneNumber"
      value="<%= user.phoneNumber%>"
    />
  </div>
  <div>
    <button class="btn">Edit Profile</button>
  </div>
</form>
